# .env.sample - DO NOT PUT REAL PASSWORDS HERE
# Copy this file to .env and fill in the values before running 'make'

# WordPress Database Setup
DB_NAME=dummy_db_name
DB_USER=dummy_user
DB_PASS=dummy_password
DB_ROOT=dummy_root_password

# Domain Setup
DOMAIN_NAME=oishchen.42.de
